<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragmentos/menuProfesor}">
<head>
    <meta charset="UTF-8">
    <title>Cursos</title>
</head>
<body>
<div layout:fragment="contenido-sin-menu">
    <div class="mx-auto text-centre w-90">
        <h2 class="mt-3 mb-3">Cursos</h2>
        <div class="row conten justify-content-around" th:each="curso : ${cursos}">
            <div class="col-lg-1 mt-3 mb-3">
                <h3 th:text="${curso.nombre}">Nombre</h3>
            </div>
            <div class="col-lg-6 mt-3 mb-3">
                <h3 th:text="${curso.titulo.nombre}">Nombre del título</h3>
            </div>
            <div class="col-lg-2 mt-3 mb-3">
                <a type="button" class="btn btn-primary btn-lg" th:href="@{'/profesor/horario/'+${curso.id}}">Mostrar el horario</a>
            </div>
        </div>
    </div>

</div>

</body>
</html>