<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragmentos/menuProfesor}">
<head>
    <meta charset="UTF-8">
    <title>Horario</title>
</head>
<body>
    <div layout:fragment="contenido-sin-menu">
        <div class="mt-3 mb-5">
            <h2 th:text="${curso.nombre}">Nombre curso</h2>
        </div>
        <div class="mt-4 mb-4">
            <div class="w-85 mb-5">
                <table class="table mb-5" id="horario">
                    <thead>
                    <tr>
                        <th scope="col">Lunes</th>
                        <th scope="col">Martes</th>
                        <th scope="col">Miércoles</th>
                        <th scope="col">Jueves</th>
                        <th scope="col">Viernes</th>
                    </tr>
                    </thead>
                    <tbody th:each="horario : ${horarios}">
                    <tr>
                        <th:block th:each="clase : ${horario}">
                            <td th:text="${clase.asignatura.nombre}"> X </td>
                        </th:block>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</body>
</html>