<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragmentos/menu}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div layout:fragment="contenido">
        <div class="row mt-5 mb-5">
            <aside class="col-md-3 mt-3 mx-auto align-items-center text-center">
                <div class="btn-group d-block" role="group">
                    <a href="/jefe/nuevoJefe" type="button" class="btn btn-secondary botonMenu" >Dar de alta a un nuevo jefe de estudios</a>
                </div>
                <div class="btn-group d-block" role="group">
                    <a href="/jefe/nuevoProfesor" type="button" class="btn btn-secondary botonMenu" >Dar de alta a un nuevo profesor</a>
                </div>
                <div class="btn-group d-block" role="group">
                    <a href="/jefe/nuevoAlumno" type="button" class="btn btn-secondary botonMenu" >Dar de alta a un nuevo alumno</a>
                </div>
                <div class="btn-group d-block" role="group">
                    <a href="/jefe/alumnos" type="button" class="btn btn-secondary botonMenu" >Gestionar alumnos</a>
                </div>
                <div class="btn-group d-block" role="group">
                    <a href="/jefe/profesores" type="button" class="btn btn-secondary botonMenu" >Gestionar profesores</a>
                </div>
                <div class="btn-group d-block" role="group">
                    <a href="/jefe/jefes" type="button" class="btn btn-secondary botonMenu" >Gestionar jefes de estudio</a>
                </div>
                <div class="btn-group d-block" role="group">
                    <a href="/jefe/titulos" type="button" class="btn btn-secondary botonMenu" >Gestión de títulos</a>
                </div>
                <div class="btn-group d-block" role="group">
                    <a href="/jefe/cursos" type="button" class="btn btn-secondary botonMenu" >Gestión de cursos</a>
                </div>
                <div class="btn-group d-block" role="group">
                    <a href="/jefe/asignaturas" type="button" class="btn btn-secondary botonMenu" >Gestión de asignaturas</a>
                </div>
                <div class="btn-group d-block" role="group">
                    <a href="/jefe/horarios" type="button" class="btn btn-secondary botonMenu" >Gestión de horarios</a>
                </div>
                <div class="btn-group d-block" role="group">
                    <a href="/jefe/excepciones" type="button" class="btn btn-secondary botonMenu" >Solicitudes de convalidaciones o exenciones</a>
                </div>
                <div class="btn-group d-block" role="group">
                    <a href="/jefe/aprobados" type="button" class="btn btn-secondary botonMenu" >Gestión de aprobados</a>
                </div>
                <div class="btn-group d-block" role="group">
                    <a href="/jefe/ampliacion" type="button" class="btn btn-secondary botonMenu" >Gestión de ampliación de matrículas</a>
                </div>
                <div class="btn-group d-block" role="group">
                    <a href="/jefe/clases" type="button" class="btn btn-secondary botonMenu" >Clases</a>
                </div>
            </aside>
            <section class="col-md-9 mt-5 mx-auto align-items-center text-center">
                <div layout:fragment="contenido-sin-menu">
                    
                </div>
            </section>
        </div>
    </div>
</body>
</html>