<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragmentos/menu}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="contenido">

    <div class="row mt-5 mb-5">
        <aside class="col-md-3 mt-5 mx-auto align-items-center text-center">
            <div class="btn-group d-block" role="group">
                <a href="/profesor/titulos" type="button" class="btn btn-secondary botonMenu btn-lg" >Títulos</a>
            </div>
            <div class="btn-group d-block" role="group">
                <a href="/profesor/cursos" type="button" class="btn btn-secondary botonMenu btn-lg" >Cursos</a>
            </div>
            <div class="btn-group d-block" role="group">
                <a href="/profesor/horarios" type="button" class="btn btn-secondary botonMenu btn-lg" >Horarios</a>
            </div>
            <div class="btn-group d-block" role="group">
                <a href="/profesor/alumnos" type="button" class="btn btn-secondary botonMenu btn-lg" >Alumnos</a>
            </div>
            <div class="btn-group d-block" role="group">
                <a href="/profesor/clases" type="button" class="btn btn-secondary botonMenu btn-lg" >Clases</a>
            </div>
        </aside>
        <section class="col-md-9 mt-5 mx-auto align-items-center text-center">
            <div layout:fragment="contenido-sin-menu">

            </div>
        </section>
    </div>
</div>
</body>
</html>