<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragmentos/menu}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div layout:fragment="contenido">

        <div class="row mt-5">
            <aside class="col-md-3 mt-5 mx-auto align-items-center text-center">
                <div th:unless="${#lists.isEmpty(cursos)}">
                    <div class="btn-group d-block" role="group" th:each="curso : ${cursos}">
                        <a href="/profesor/curso" type="button" class="btn btn-secondary botonMenu"
                           th:text="${curso.nombre}" th:href="@{'/profesor/cruso/'+${curso.id}}">Curso X</a>
                    </div>
                </div>
            </aside>
            <section class="col-md-9 mt-5 mx-auto align-items-center text-center">
                <div layout:fragment="contenido-sin-menu">
                    
                </div>
            </section>
        </div>
    </div>
</body>
</html>