<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragmentos/menu}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="contenido">
    <div class="row mt-5">
        <aside class="col-md-3 mt-5 mx-auto align-items-center text-center">
            <th:block th:if="${usuarioLogeado.curso.titulo.esAlta}">
                <th:block th:if="${usuarioLogeado.curso.esAlta}">
                    <div class="btn-group d-block" role="group">
                        <a href="/alumno/excepcion" type="button" class="btn btn-secondary botonMenu" >Solicitar convalidación o exención</a>
                    </div>
                    <div class="btn-group d-block" role="group" th:if="${usuarioLogeado.curso.anyo==1}">
                        <a href="/alumno/ampliacion" type="button" class="btn btn-secondary botonMenu" >Solicitar ampliación de matrícula</a>
                    </div>
                </th:block>
            </th:block>
            <div class="btn-group d-block" role="group">
                <a href="/alumno/principal" type="button" class="btn btn-secondary botonMenu" >Horario</a>
            </div>
        </aside>
        <section class="col-md-9 mt-5 mx-auto align-items-center text-center">
            <div layout:fragment="contenido-sin-menu">

            </div>
        </section>
    </div>
</div>
</body>
</html>