<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragmentos/menuJefe}">
<head>
    <meta charset="UTF-8">
    <title>Principal</title>
</head>
<body>
    <div layout:fragment="contenido-sin-menu">
        <div class="mt-3 mb-5 mx-auto text-centre">
            <h2 th:text="${alumno.nombre} + ' ' + ${alumno.apellidos}">Nombre</h2>
        </div>
        <div th:each="asignatura : ${asignaturas}" class="row conten justify-content-around">
            <div class="col-lg-6 mt-3 mb-3">
                <h3 th:text="${asignatura.nombre}">Nombre</h3>
            </div>
            <div class="col-lg-3 mt-3 mb-3">
                <a type="button" class="btn btn-warning btn-lg" data-toggle="modal" data-target="#delete-modal" th:data-id="${asignatura.id}">Aprobar asignatura</a>
            </div>
        </div>
        <div class="modal fade" id="delete-modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"
                                aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>

                    </div>
                    <div class="modal-body">
                        <p>¿Desea dar por aprobada esta asignatura al alumno?</p>
                        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                        <a href="#" class="btn btn-danger">Sí</a>
                    </div>
                </div>

            </div>
        </div>
        <script type="text/javascript">
            $(document).ready(function() {
                $('#delete-modal').on('show.bs.modal', function(event) {
                    var button = $(event.relatedTarget);
                    var data = button.data('id');

                    var modal = $(this);

                    var a = modal.find('.modal-body a')[0];
                    a.href = '/jefe/aprobados/asignatura/' + data;
                });
            });
	    </script>
    </div>
</body>
</html>