<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragmentos/menuJefe}">
<head>
    <meta charset="UTF-8">
    <title>Horarios</title>
</head>
<body>
    <div layout:fragment="contenido-sin-menu">
        <div class="mx-auto text-centre w-90">
            <h2 class="mt-3 mb-3">Horarios</h2>
            <div class="mt-3 mb-3">
                <a type="button" class="btn btn-dark btn-lg mt-5 mb-5" href="/jefe/nuevoHorario">Nuevo horario</a>
            </div>
            <div class="mx-auto text-centre w-90">
                <div class="w-75 mx-auto">
                    <h3 class="mt-2 mb-2">Días</h3>
                    <table class="table">
                        <tr>
                            <th>Lunes</th>
                            <th>Martes</th>
                            <th>Miércoles</th>
                            <th>Jueves</th>
                            <th>Viernes</th>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>2</td>
                            <td>3</td>
                            <td>4</td>
                            <td>5</td>
                        </tr>
                    </table>
                </div>
                <div class="w-75 mx-auto">
                    <h3 class="mt-2 mb-2">Horas</h3>
                    <table class="table">
                        <tr>
                            <th>8:00-9.00</th>
                            <th>9:00-10:00</th>
                            <th>10:00-11:00</th>
                            <th>11:30-12:30</th>
                            <th>12.30-13.30</th>
                            <th>13:30-14:30</th>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>2</td>
                            <td>3</td>
                            <td>4</td>
                            <td>5</td>
                            <td>6</td>
                        </tr>
                    </table>
                </div>
                <div class="w-75 mx-auto" th:each="curso : ${cursos}">
                    <div class="mt-5 mb-5">
                        <h2 th:text="${curso.nombre}">Nombre</h2>
                    </div>
                    <div th:each="asignatura : ${curso.asignaturas}">
                        <h3 th:text="${asignatura.nombre}">Nombre asignatura</h3>
                            <table class="table mb-5" id="horario">
                                <thead>
                                <tr>
                                    <th scope="col">Día</th>
                                    <th scope="col">Hora</th>
                                    <th scope="col">Estado</th>
                                    <th scope="col"></th>
                                    <th scope="col"></th>
                                </tr>
                                </thead>
                                <tbody th:each="horario : ${asignatura.horarios}">
                                <tr>
                                    <td th:text="${horario.dia}"> X </td>
                                    <td th:text="${horario.tramo}"> X </td>
                                    <th:block th:if="${horario.esAlta==true}">
                                        <td> Alta </td>
                                    </th:block>
                                    <th:block th:if="${horario.esAlta==false}">
                                        <td> Baja </td>
                                    </th:block>
                                    <td><a type="button" class="btn btn-primary" th:href="@{'/jefe/editarHorario/'+${horario.id}}">Modificar</a></td>
                                    <td><a type="button" class="btn btn-warning" data-toggle="modal" data-target="#delete-modal" th:data-id="${horario.id}">Cambiar de estado</a></td>
                                    <div class="modal fade" id="delete-modal" tabindex="-1" role="dialog">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal"
                                                            aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>

                                                </div>
                                                <div class="modal-body">
                                                    <p>¿Está usted seguro de cambiar el estado del horario?</p>
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                                                    <a href="#" class="btn btn-danger">Sí</a>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                    <script type="text/javascript">
            $(document).ready(function() {
                $('#delete-modal').on('show.bs.modal', function(event) {
                    var button = $(event.relatedTarget);
                    var data = button.data('id');

                    var modal = $(this);

                    var a = modal.find('.modal-body a')[0];
                    a.href = '/jefe/horarios/' + data;
                });
            });



        </script>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>



    </div>

</body>
</html>